.textPractice {
    display: block;
    /* display: none; */
    margin-top: 2em;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    text-align: left;
}

.textPractice h3 {
    font-size: 2rem;
}

.textPractice > p {
    margin-top: 2em;
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--font-secundary);
    font-weight: 500;
}

.textPractice h4 {
    margin-top: 2em;
}

.fontsizeOptions {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fontsizeOptions> label {
    font-weight: 700;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;  
  background: var(--range-bg);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-right: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: var(--primary);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}