.header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    border-bottom: 1px solid var(--header-bottom);
}

.header nav {
    display: flex;
    position: relative;
    gap: 1em;
    order: 3;
}

.header nav a {
    position: relative;
    font-size: .95rem;
    text-decoration: none;
    color: var(--font-secundary);
    font-weight: 400;
    transition: color .3s ease;

    &:hover {
        color: #6bbde6;
    }

}

.header nav a.isActive {
    color: var(--primary);

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        transform: translateY(-100%);
        transition: transform 1s ease;
    }
}




nav>button {
    font-size: 22px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

nav>div {
    display: none;
}

nav div.isOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    padding: 1em;
    top: 30px;
    right: -32px;
    background: white;
    width: 100dvw;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    font-size: 1.4em;
    font-weight: 600;
    order: 1;
}

.sesion {
    order: 2;
}

@media (min-width: 1024px) {
    .header nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .header nav button {
        display: none;
    }

    .header nav>div {
        display: flex;
        gap: 1em;
    }
}