.header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    border-bottom: 1px solid var(--header-bottom);
}

.header nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 1em;
}

.header nav a {
    position: relative;
    font-size: .95rem;
    text-decoration: none;
    color: var(--font-secundary);
    font-weight: 400;
    transition: color .3s ease;

    &:hover {
        color: #6bbde6;
    }

}

.header nav a.isActive {
    color: var(--primary);

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    font-size: 1.4em;
    font-weight: 600;
}