.practicePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.practicePage>p {
    margin-top: .5em;
    color: var(--font-secundary);
    font-weight: 500;
}

.practiceOptions {
    margin-top: 2em;
    display: flex;
    gap: 2em;
    justify-content: center;
}

.practiceOptions button {
    cursor: pointer;
    padding: .8em 1em;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    border: 1px solid var(--border-hover);
    color: var(--font-secundary);
    font-weight: 500;

    transition: scale 0.3s ease,
        border 0.3s ease,
        color 0.3s ease;

    &:hover {
        scale: 1.1;
        border: 1px solid var(--primary);
        color: var(--primary);

    }
}

.practiceOptions .active {
    border: none;
    background-color: var(--primary);
    color: white;
    transition: scale 0.3s ease;

    &:hover {
        scale: 1.1;
        color: white;
    }
}

