.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: black;
    border-radius: 0.375rem;
    transition: all .2s;

    &:hover{
      background-color: var(--primary-light);
    }

    &:focus{
      background-color: var(--primary);
    }

    &:active {
      transform: scale(0.90);
    }
  }
}

a.isActive {
  background-color: var(--primary);
  color: #fff;
  pointer-events: none;
}