<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="addPageandHeader.css">
</head>

<body>
    <header>
        <p class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#13a4ec"
                class="icon icon-tabler icons-tabler-filled icon-tabler-star">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
            </svg>
            EnglishPractice
        </p>
        <nav>
            <a href="">Home</a>
            <a href="">Agregar</a>
            <a href="">Practicar</a>
        </nav>
        <p>image</p>
    </header>
    <main>
        <section>
            <h2>¿Qué quieres agregar?</h2>
            <p>Elige una opción para continuar</p>
            <div class="add-options">
                <article>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#13a4ec" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-letter-case">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M17.5 15.5m-3.5 0a3.5 3.5 0 1 0 7 0a3.5 3.5 0 1 0 -7 0" />
                            <path d="M3 19v-10.5a3.5 3.5 0 0 1 7 0v10.5" />
                            <path d="M3 13h7" />
                            <path d="M21 12v7" />
                        </svg>
                    </span>
                    <h3>Agregar palabra</h3>
                    <p>Expande tu vocabulario añadiendo nuevas palabras, sus significados y ejemplos</p>
                </article>
                <article>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#13a4ec" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-book">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                            <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                            <path d="M3 6l0 13" />
                            <path d="M12 6l0 13" />
                            <path d="M21 6l0 13" />
                        </svg>
                    </span>
                    <h3>Agregar texto</h3>
                    <p>Mejora tu lectura y comprensión subiendo nuevos textos para practicar</p>
                </article>
            </div>
        </section>
    </main>
</body>

</html>