<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="practiceArea.css">
</head>

<body>
    <header>
        <p class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#13a4ec"
                class="icon icon-tabler icons-tabler-filled icon-tabler-star">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
            </svg>
            EnglishPractice
        </p>
        <nav>
            <a href="">Home</a>
            <a href="">Agregar</a>
            <a href="">Practicar</a>
        </nav>
        <p>image</p>
    </header>
    <main>
        <h2>Practice area</h3>
            <p>What would you like to practice today?</p>
            <div class="practice-options">
                <button class="vocabulary-btn active">Vocabulary</button>
                <button class="reading-btn">Reading</button>
            </div>
            <section class="vocabulary-practice">
                <div class="word-preview">
                    <h3>Seremdipity</h4>
                        <button class="show-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-eye">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path
                                    d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                            </svg>
                            Show
                        </button>
                </div>
                <div class="word-answers">
                    <h3>Seremdipity</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illum ducimus, maxime id animi
                        ab
                        qui
                        tenetur modi dolore laudantium soluta quidem recusandae quae iste minima! Aut esse velit rerum.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illum ducimus, maxime id animi
                        ab
                        qui
                        tenetur modi dolore laudantium soluta quidem recusandae quae iste minima! Aut esse velit rerum.
                    </p>
                </div>
                <div class="card-options">
                    <button class="previous-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l6 6" />
                            <path d="M5 12l6 -6" />
                        </svg>
                        Previous
                    </button>
                    <div>

                    </div>
                    <button class="next-btn">
                        Next
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </button>
                </div>
            </section>
            <section class="text-practice">
                <h3>A good father</h3>
                    <p>
                        We were young when we had her. I was twenty-three, the mother was twenty; we weren't planning to
                        have
                        kids yet. I don't want to say the relationship fell apart because of our daughter. It was mostly
                        us.
                        We
                        were going through a stressful time: I'd just lost my mother, she'd just lost her grandmother.
                        We
                        were
                        going through an eviction and had to move into a shelter. We just handled our stress in
                        different
                        ways.
                        She dealt with it by wanting to be young and dumb and free. We were arguing about everything,
                        and
                        I'm
                        not good at arguing. I don't like confrontation. I get agitated, antsy. Every time there was an
                        argument, I'd get so angry that I'd have to leave the facility to get some air. I've been that
                        way
                        since
                        childhood. My mom and my dad were heavy addicts; they lost custody of me when I was four. I grew
                        up
                        in
                        programs. I didn't have nobody to show me affection. And it made me angry, I was an angry kid. I
                        saw
                        that other people had love, and understood it, and to be honest, I wasn't okay with it. There
                        are
                        times
                        where I still feel like that, sometimes even now as a father. But every time I look at her it
                        goes
                        away.
                        It went away the moment she was born. When you held your first kid, did you see a glow around
                        them?
                        Did
                        you ever see a glow? Because I saw a glow. And I felt it. It was like, holy shit. I wanted to
                        cry
                        the
                        first time I felt it, because I wasn't sure what it was. I was confused. But as it gradually
                        grew on
                        me,
                        I was like: OK, so this is what love is. And it felt beautiful. It made me want to be better. I
                        don't
                        want my daughter seeing the side of me from when I was young and didn't know how to cope with my
                        anger.
                        Right now I have her every day after school. There's a counselor at her school: Mr. Gonzalez. I
                        go
                        to
                        see him once, sometimes twice a week. He's been very helpful. He's teaching me how to cope with
                        life,
                        how to handle arguments with my baby's mother. Now if she texts me twenty paragraphs about
                        things
                        that
                        happened six years ago, I don't fight back. I just don't respond, until it's time to get the
                        baby
                    </p>
                    <p>Lecture options</p>
                    <input type="range" name="" id="">
            </section>
    </main>
</body>

</html>